[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Required Packages for Molten
pynvim = "*"
jupyter-client = "*"
# Optional Packages for Molten
cairosvg = "*" # SVG Images
pnglatex = "*" # TeX Formulas
pyperclip = "*" # Clipboard Support
# plotly figures
plotly = "*"
kaleido = "*"

[dev-packages]

[requires]
python_version = "3.11"
