@import "mocha.css";

* {
    font-size: 12px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#workspaces button:hover {
    background: @base;
}

#workspaces button.active {
    background-color: @surface2;
    box-shadow: inset 0 -3px @text;
}

#workspaces button.urgent {
    background-color: @red;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @crust;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#idle_inhibitor,
#clock {
    padding: 0 10px;
    color: @text;
}

label:focus {
    background-color: @crust;
}

#pulseaudio,
#cpu,
#memory,
#backlight,
#battery,
#network {
    color: @crust;
    padding: 0 10px;
}

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#idle_inhibitor {
    background-color: @surface0;
}

#idle_inhibitor.activated {
    background-color: @text;
    color: @surface0;
}

#pulseaudio {
    background-color: @peach;
    color: @crust;
}

#pulseaudio.muted {
    background-color: @maroon;
}

#network {
    background-color: @yellow;
}

#network.disconnected {
    background-color: @red;
}

#cpu {
    background-color: @green;
}

#memory {
    background-color: @sky;
}

#backlight {
    background-color: @blue;
}

#battery {
    background-color: @lavender;
    color: @crust;
}

#battery.charging, #battery.plugged {
    background-color: @mauve;
}

#clock {
    background-color: @base;
    color: @text;
}
